#banner {
  margin-top: 2.5rem;
  width: 100%;
}
#banner picture img {
  border-radius: 20px / 20px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 577px) {
  #banner picture img {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  #banner picture img {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #banner picture img {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #banner picture img {
    max-width: 1140px;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--seashell);
}

:focus {
  outline: none;
}

h2 {
  font-family: var(--titles);
  font-size: 1.5rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a, a:hover {
  color: initial;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: var(--rio-grande);
  border: 1px solid var(--rio-grande);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--tiber);
  outline: none;
}

.card.producto {
  cursor: pointer;
}
.card.producto.destacado {
  grid-column-start: span 2;
}

.card-img-top {
  background-color: #f0f0f0;
  display: block;
  max-height: 250px;
  margin: auto;
  width: auto;
}

.card-body {
  background-color: var(--dove-gray);
  color: white;
  font-family: var(--regular);
  position: relative;
  padding-bottom: 3rem;
}
.card-body .card-title {
  color: var(--rio-grande);
  font-family: var(--bold);
  font-size: 1.3rem;
}
.card-body .card-title, .card-body h4, .card-body .card-text {
  line-height: 150%;
}
.card-body .card-price {
  font-size: .8rem;
}
.card-body .card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .btn-comprar {
  position: absolute;
  bottom: 1rem;
}

.btn-comprar,
.btn-comprar:hover,
.btn-comprar:not(:disabled):not(.disabled):active {
  background-color: var(--rio-grande);
  border-color: var(--rio-grande);
  color: var(--tiber);
}

.cart-items-list .btn-borrar-item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--dove-gray);
  border: none;
  color: var(--seashell);
  height: 1.7rem;
  margin-bottom: .5rem;
  padding: 0 .5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cart-items-list .cart-item-row {
  height: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}
.cart-items-list .cart-item-row:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}
.cart-items-list .cart-item-row .cart-item-img picture img {
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 120px;
}

.cart-total {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: right;
  width: 100%;
}

.btn-vaciar:disabled, .btn-checkout:disabled {
  cursor: not-allowed;
  opacity: .4;
}

.btn-checkout {
  font-weight: 600;
  text-transform: uppercase;
}
.btn-checkout:disabled {
  background-color: var(--rio-grande);
  border: 1px solid var(--rio-grande);
  color: var(--tiber);
}

.checkout-step {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  text-align: center;
}
.checkout-step h2 {
  font-size: 2rem;
  font-weight: 600;
}
.checkout-step span {
  display: block;
}
.checkout-step span.saldo {
  background-image: url("../assets/img/bitcoin.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 6rem;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  padding-top: 6rem;
}
.checkout-step span.saldo-despues {
  margin-bottom: 2rem;
}
.checkout-step span.limit-reached {
  color: red;
  font-weight: 600;
  margin-bottom: 2rem;
}
.checkout-step button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-radius: .25rem;
  font-weight: 600;
  padding-bottom: .7rem;
  padding-top: .7rem;
}
.checkout-step button.finalizar-compra {
  background-color: var(--rio-grande);
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  margin-bottom: 1rem;
}
.checkout-step button.paypal-btn {
  background-color: var(--seashell);
  background-image: url("../assets/img/paypal-icon.svg");
  background-position: .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-left: 2.5rem;
  padding-right: .5rem;
  font-style: italic;
}

.compra-exitosa {
  background-color: var(--primrose);
  margin-top: 3rem;
}

.shipping-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shipping-form .form-errors span {
  color: crimson;
}

.categoria {
  margin-top: 2rem;
  padding: 0 1rem;
}
.categoria .products-grid-wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.categoria h2 {
  background-clip: content-box;
  background-image: url("../assets/img/chevron.svg");
  background-position: right 1rem top -1.6rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  border-bottom: 1px solid rgba(106, 106, 106, 0.5);
  cursor: pointer;
  margin: auto;
  font-size: 1.25rem;
  padding-bottom: .5em;
  padding-top: .5em;
}
.categoria h2.collapsed {
  background-image: url("../assets/img/chevron.svg");
  background-position: right 1rem top .3rem;
}

@media (min-width: 992px) {
  .categoria .products-grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
#contacto {
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#contacto h2 {
  background-image: url("../assets/img/icons/baseline-email-24px.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1.7rem;
  padding-left: 2rem;
  margin: auto;
  width: 13rem;
}
#contacto p {
  color: var(--tiber);
  font-family: var(--regular);
  margin-top: 1rem;
  text-align: center;
}
#contacto form {
  margin-top: 1rem;
}
#contacto form input[type=text], #contacto form input[type=email], #contacto form textarea {
  border-color: var(--tiber);
}
#contacto form label {
  font-size: .875rem;
}
#contacto form textarea {
  resize: none;
}

.filter-bar {
  background-color: var(--mineral-green);
  font-family: var(--regular);
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: .2rem;
  padding-top: .2rem;
  position: absolute;
}
.filter-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-bottom: 0;
}
.filter-bar ul li a {
  color: var(--seashell);
}
.filter-bar ul li:first-child a::after, .filter-bar ul li:nth-child(2) a::after {
  content: "|";
  margin: 0 .5rem;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muli Black";
  src: url("../assets/fonts/muli-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Fuentes */
  --bold: "Lato Bold";
  --italic: "Lato Italic";
  --regular: "Lato Regular";
  --titles: "Muli Black";
}

#main-menu {
  background-color: var(--tiber);
  -webkit-box-shadow: 0 0 5px #333333;
          box-shadow: 0 0 5px #333333;
  padding: .75rem 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transition: right .5s ease;
  transition: right .5s ease;
  width: 100%;
  z-index: 17;
}
#main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
}
#main-menu ul li a {
  line-height: 3rem;
  color: var(--cruise);
  background-repeat: no-repeat;
  background-size: 4em;
  height: 2rem;
  width: 2rem;
  display: block;
  overflow: hidden;
  text-indent: -9000px;
}
#main-menu ul li:first-child a {
  background-image: url("../assets/img/icons/menu-icons.svg");
  background-position: left .25em;
}
#main-menu ul li:first-child a.active {
  background-position: right .25em;
}
#main-menu ul li:nth-child(2) a {
  background-image: url("../assets/img/icons/menu-icons.svg");
  background-position: left -1.90em;
}
#main-menu ul li:nth-child(2) a.active {
  background-position: right -1.90em;
}
#main-menu ul li:nth-child(3) a {
  background-image: url("../assets/img/icons/menu-icons.svg");
  background-position: left -4em;
}
#main-menu ul li:nth-child(3) a.active {
  background-position: right -4em;
}
#main-menu ul li:nth-child(4) a {
  background-image: url("../assets/img/icons/menu-icons.svg");
  background-position: left -6em;
}
#main-menu ul li:nth-child(4) a.active {
  background-position: right -6em;
}
#main-menu ul li:nth-child(5) a {
  background-image: url("../assets/img/icons/menu-icons.svg");
  background-position: left -8.2em;
}
#main-menu ul li:nth-child(5) a.active {
  background-position: right -8.2em;
}

.modal img {
  display: block;
  margin: auto auto 1.5rem;
}
.modal .modal-body .modal-text {
  background-color: var(--dove-gray);
}
.modal .modal-body h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

:root {
  /* Paleta */
  --cruise: #B8ECD7;
  --tiber: #083643;
  --rio-grande: #B1E001;
  --primrose: #CEF09D;
  --mineral-green: #476C5E;
  --seashell: #F1F1F1;
  --dove-gray: #6A6A6A;
}

#venderalgo {
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#venderalgo h2 {
  background-image: url("../assets/img/icons/handshake-solid.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1.7rem;
  padding-left: 2rem;
  margin: auto;
  width: 13rem;
}
#venderalgo p {
  color: var(--tiber);
  font-family: var(--regular);
  margin-top: 1rem;
  text-align: center;
}
#venderalgo form {
  margin-top: 1rem;
}
#venderalgo form input[type=text], #venderalgo form input[type=number], #venderalgo form textarea {
  border-color: var(--tiber);
}
#venderalgo form label {
  font-size: .875rem;
}
#venderalgo .publicaciones {
  display: none;
  margin-top: 3rem;
}
#venderalgo .publicado {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--mineral-green);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px .5px lightgray;
          box-shadow: 0 1px 1px .5px lightgray;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 6rem;
  overflow: hidden;
}
#venderalgo .publicado > div:first-child {
  padding: 1rem;
  max-width: 14em;
}
#venderalgo .publicado > div:last-child {
  background: white;
  height: 100%;
  position: relative;
}
#venderalgo .publicado > div:last-child img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
#venderalgo .publicado h3 {
  color: var(--cruise);
  font-family: var(--bold);
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
#venderalgo .publicado span {
  color: var(--seashell);
}
#venderalgo .publicado p {
  color: var(--primrose);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}

#mispedidos {
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#mispedidos h2 {
  background-image: url("../assets/img/icons/baseline-local_shipping-24px.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1.7rem;
  padding-left: 2rem;
  margin: auto;
  width: 12rem;
}
#mispedidos p {
  font-family: var(--regular);
  text-align: center;
}
#mispedidos p button {
  margin-top: .5em;
  text-transform: capitalize;
}
#mispedidos .pedidos {
  margin-top: 1rem;
}
#mispedidos .pedido {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--mineral-green);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px .5px lightgray;
          box-shadow: 0 1px 1px .5px lightgray;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1rem;
  height: 6rem;
  overflow: hidden;
}
#mispedidos .pedido > div:first-child {
  padding: 1rem;
}
#mispedidos .pedido > div:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
#mispedidos .pedido > div:last-child img {
  max-height: 5.5rem;
}
#mispedidos .pedido h3 {
  color: var(--primrose);
  font-family: var(--bold);
  font-size: 1rem;
  text-transform: uppercase;
}
#mispedidos .pedido h4 {
  background-image: url("../assets/img/icons/baseline-local_shipping-24px.svg");
  background-position: left -1.2em;
  background-repeat: no-repeat;
  background-size: 1.2em;
  color: white;
  font-family: var(--regular);
  font-size: .875rem;
  padding-left: 1.5rem;
}

.top-bar {
  background-color: var(--tiber);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--regular);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  margin: auto;
  padding-top: .5rem;
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 16;
}
.top-bar h1 {
  margin-bottom: 0;
}
.top-bar h1 a {
  background-image: url("../assets/img/isologo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 0;
  height: 3rem;
  width: 8rem;
}
.top-bar .cart-indicator {
  background-image: url("../assets/img/outline-shopping_cart-24px.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: block;
  height: 24px;
  position: relative;
  width: 24px;
}
.top-bar .cart-indicator .cart-counter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--seashell);
  border-radius: 50%;
  color: var(--tiber);
  display: none;
  font-size: .7rem;
  height: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -.5rem;
  top: -.5rem;
  width: 1rem;
}
.top-bar .cart-indicator .cart-counter.has-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-bar .cart-indicator .subtotal {
  bottom: 0;
  color: var(--seashell);
  display: block;
  font-size: .7rem;
  height: 1rem;
  margin: auto;
  padding: 0;
  position: absolute;
  right: -1rem;
  top: 0;
  width: 8rem;
}
.top-bar .filter-bar {
  font-size: .8rem;
}

#miwallet {
  margin-top: 3rem;
}
#miwallet > div > div {
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 1px .5px lightgray;
          box-shadow: 0 1px 1px .5px lightgray;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#miwallet > div > div h2 {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  margin: auto;
  padding-left: 2rem;
  text-align: center;
}
#miwallet > div > div:first-of-type {
  padding: 1rem;
  margin-bottom: 1rem;
}
#miwallet > div > div:first-of-type h2 {
  background-image: url("../assets/img/icons/baseline-person-24px.svg");
  width: 11rem;
}
#miwallet > div > div:first-of-type .avatar {
  margin: 2rem auto 1rem auto;
}
#miwallet > div > div:first-of-type .avatar img {
  border-radius: 50%;
  margin: auto;
  width: 60%;
}
#miwallet > div > div:first-of-type ul li:first-of-type {
  font-family: var(--bold);
  margin-bottom: 1.5rem;
  text-align: center;
}
#miwallet > div > div:nth-of-type(2) h2 {
  background-image: url("../assets/img/icons/baseline-account_balance_wallet-24px.svg");
  width: 11rem;
}
#miwallet > div > div:nth-of-type(2) > div .bitcoin-logo {
  background-image: url("../assets/img/bitcoin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 6rem;
  margin: 1.5rem auto 1rem auto;
  width: 6rem;
}
#miwallet > div > div:nth-of-type(2) > div #saldo {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
}
#miwallet > div > div:nth-of-type(3) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#miwallet > div > div:nth-of-type(3) #modalCobrar .modal-header .modal-title {
  font-family: var(--bold);
}
#miwallet > div > div:nth-of-type(3) #modalCobrar .modal-body p {
  font-family: var(--regular);
  font-size: .875rem;
}
#miwallet > div > div:nth-of-type(3) #modalCobrar .modal-body img {
  margin-bottom: 0;
}

#mispedidos, #miwallet, #venderalgo, #contacto {
  display: none;
}
