#banner {
  margin-top: 2.5rem;
  width: 100%;

  picture {
    img {
      border-radius: 20px / 20px;
      margin: auto;
      object-fit: cover;
    }
  }
}


@media (min-width: 577px) {
  #banner {
    picture {
      img {
        max-width: 540px;
      }
    }
  }
}

@media (min-width: 768px) {
  #banner {
    picture {
      img {
        max-width: 720px;
      }
    }
  }
}

@media (min-width: 992px) {
  #banner {
    picture {
      img {
        max-width: 960px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #banner {
    picture {
      img {
        max-width: 1140px;
      }
    }
  }
}