* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--seashell);
}

:focus {
  outline: none;
}

h2 {
  font-family: var(--titles);
  font-size: 1.5rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a, a:hover {
  color: initial;
  text-decoration: none;
}

button {
  appearance: none;
}

.btn-primary, 
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: var(--rio-grande);
  border: 1px solid var(--rio-grande);
  box-shadow: none;
  color: var(--tiber);
  outline: none;
}