.card.producto {
  cursor: pointer;

  &.destacado {
    grid-column-start: span 2;
  }
}

.card-img-top {
  background-color: rgb(240,240,240);
  display: block;
  max-height: 250px;
  margin: auto;
  width: auto;
}

.card-body {
  background-color: var(--dove-gray);
  color: white;
  font-family: var(--regular);
  position: relative;
  padding-bottom: 3rem;
  
  .card-title {
    color: var(--rio-grande);
    font-family: var(--bold);
    font-size: 1.3rem;
  }
  
  .card-title, h4, .card-text {
    line-height: 150%;
  }

  .card-price {
    font-size: .8rem;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.card {
  .btn-comprar {
    position: absolute;
    bottom: 1rem;
  }
}

.btn-comprar, 
.btn-comprar:hover, 
.btn-comprar:not(:disabled):not(.disabled):active {
  background-color: var(--rio-grande);
  border-color: var(--rio-grande);
  color: var(--tiber);
}