.cart-items-list {
  .btn-borrar-item {
    appearance: none;
    background: var(--dove-gray);
    border: none;
    color: var(--seashell);
    height: 1.7rem;
    margin-bottom: .5rem;
    padding: 0 .5rem;
    transition: all .3s ease-in-out;
    width: fit-content;
  }

  .cart-item-row {
    height: 140px;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    &:not(:last-of-type) {
      border-bottom: 1px solid lightgray;
    }

    .cart-item-img {
      picture {
        img {
          height: 120px;
          object-fit: contain;
          width: 120px;
        }
      }
    }
  }
}

.cart-total {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: right;
  width: 100%;
}

.btn-vaciar, .btn-checkout {
  &:disabled {
    cursor: not-allowed;
    opacity: .4;
  }
}

.btn-checkout {
  font-weight: 600;
  text-transform: uppercase;
  
  &:disabled {
    background-color: var(--rio-grande);
    border: 1px solid var(--rio-grande);
    color: var(--tiber);
  }
}

.checkout-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  span {
    display: block;

    &.saldo {
      background-image: url("../assets/img/bitcoin.svg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 6rem;
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 1rem;
      padding-top: 6rem;
    }

    &.saldo-despues {
      margin-bottom: 2rem;
    }

    &.limit-reached {
      color: red;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }

  button {
    appearance: none;
    background: none;
    border: none;
    border-radius: .25rem;
    font-weight: 600;
    padding-bottom: .7rem;
    padding-top: .7rem;
  }

  button.finalizar-compra {
    background-color: var(--rio-grande);
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin-bottom: 1rem;
  }

  button.paypal-btn {
    background-color: var(--seashell);
    background-image: url("../assets/img/paypal-icon.svg");
    background-position: .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    padding-left: 2.5rem;
    padding-right: .5rem;
    font-style: italic;
  }
}

.compra-exitosa {
  background-color: var(--primrose);
  margin-top: 3rem;
}

.shipping-form {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-errors {
    span {
      color: crimson;
    }
  }
}