.categoria {
  margin-top: 2rem;
  padding: 0 1rem;

  .products-grid-wrapper {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h2 {
    background-clip: content-box;
    background-image: url("../assets/img/chevron.svg");
    background-position: right 1rem top -1.6rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    border-bottom: 1px solid rgba(#6A6A6A, .5);
    cursor: pointer;
    margin: auto;
    font-size: 1.25rem;
    padding-bottom: .5em;
    padding-top: .5em;
    
    &.collapsed {
      background-image: url("../assets/img/chevron.svg");
      background-position: right 1rem top .3rem;
    }
  }
}

@media (min-width: 992px) {
  .categoria {
    .products-grid-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}