#contacto {
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  h2 {
    background-image: url("../assets/img/icons/baseline-email-24px.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.7rem;
    padding-left: 2rem;
    margin: auto;
    width: 13rem;
  }

  p {
    color: var(--tiber);
    font-family: var(--regular);
    margin-top: 1rem;
    text-align: center;
  }

  form {
    margin-top: 1rem;

    input[type=text], input[type=email], textarea {
      border-color: var(--tiber);
    }

    label {
      font-size: .875rem;
    }

    textarea {
      resize: none;
    }
  }
}