.filter-bar {
  background-color: var(--mineral-green);
  font-family: var(--regular);
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: .2rem;
  padding-top: .2rem;
  position: absolute;

  ul {
    display: flex;
    height: 100%;
    margin-bottom: 0;

    li {
      a {
        color: var(--seashell);
      }

      &:first-child, &:nth-child(2) {
        a {
          &::after {
            content: "|";
            margin: 0 .5rem;
          }
        }
      }
    }
  }
}