@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli Black";
  src: url("../assets/fonts/muli-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Fuentes */
  --bold: "Lato Bold";
  --italic: "Lato Italic";
  --regular: "Lato Regular";
  --titles: "Muli Black";
}