#main-menu {
  background-color: var(--tiber);
  box-shadow: 0 0 5px #333333;
  padding: .75rem 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  transition: right .5s ease;
  width: 100%;
  z-index: 17;

  ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;


    li {
      a {
        line-height: 3rem;
        color: var(--cruise);
        background-repeat: no-repeat;
        background-size: 4em;
        height: 2rem;
        width: 2rem;
        display: block;
        overflow: hidden;
        text-indent: -9000px;
      }

      &:first-child {
        a {
          background-image: url("../assets/img/icons/menu-icons.svg");
          background-position: left .25em;
          
          &.active {
            background-position: right .25em;
          }
        }
      }
      &:nth-child(2) {
        a {
          background-image: url("../assets/img/icons/menu-icons.svg");
          background-position: left -1.90em;

          &.active {
            background-position: right -1.90em;
          }
        }
      }
      &:nth-child(3) {
        a {
          background-image: url("../assets/img/icons/menu-icons.svg");
          background-position: left -4em;

          &.active {
            background-position: right -4em;
          }
        }
      }
      &:nth-child(4) {
        a {
          background-image: url("../assets/img/icons/menu-icons.svg");
          background-position: left -6em;

          &.active {
            background-position: right -6em;
          }
        }
      }
      &:nth-child(5) {
        a {
          background-image: url("../assets/img/icons/menu-icons.svg");
          background-position: left -8.2em;

          &.active {
            background-position: right -8.2em;
          }
        }
      }
    }
  }
}