.modal {
  img {
    display: block;
    margin: auto auto 1.5rem;
  }

  .modal-body {
    .modal-text {
      background-color: var(--dove-gray);
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }
}