#venderalgo {
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  h2 {
    background-image: url("../assets/img/icons/handshake-solid.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.7rem;
    padding-left: 2rem;
    margin: auto;
    width: 13rem;
  }

  p {
    color: var(--tiber);
    font-family: var(--regular);
    margin-top: 1rem;
    text-align: center;
  }

  form {
    margin-top: 1rem;

    input[type=text], input[type=number], textarea {
      border-color: var(--tiber);
    }

    label {
      font-size: .875rem;
    }
  }

  .publicaciones {
    display: none;
    margin-top: 3rem;
  }

  .publicado {
    align-items: center;
    background: var(--mineral-green);
    border-radius: 10px;
    box-shadow: 0 1px 1px .5px lightgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 6rem;
    overflow: hidden;

    > div {
      &:first-child {
        padding: 1rem;
        max-width: 14em;
      }
      
      &:last-child {
        background: white;
        height: 100%;
        position: relative;

        img {
          bottom: 0;
          left: 0;
          margin: auto;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
        }
      }
    }
    
    h3 {
      color: var(--cruise);
      font-family: var(--bold);
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
    }

    span {
      color: var(--seashell);
    }

    p {
      color: var(--primrose);
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
    }
  }
}