#mispedidos {
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  h2 {
    background-image: url("../assets/img/icons/baseline-local_shipping-24px.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.7rem;
    padding-left: 2rem;
    margin: auto;
    width: 12rem;
  }
  
  p {
    font-family: var(--regular);
    text-align: center;

    button {
      margin-top: .5em;
      text-transform: capitalize;
    }
  }

  .pedidos {
    margin-top: 1rem;
  }
  
  .pedido {
    align-items: center;
    background: var(--mineral-green);
    border-radius: 10px;
    box-shadow: 0 1px 1px .5px lightgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
    height: 6rem;
    overflow: hidden;

    > div {
      &:first-child {
        padding: 1rem;
      }
      
      &:last-child {
        align-items: center;
        background: white;
        display: flex;
        justify-content: center;
        height: 100%;

        img {
          max-height: 5.5rem;
        }
      }
    }
    
    h3 {
      color: var(--primrose);
      font-family: var(--bold);
      font-size: 1rem;
      text-transform: uppercase;
    }
    
    h4 {
      background-image: url("../assets/img/icons/baseline-local_shipping-24px.svg");
      background-position: left -1.2em;
      background-repeat: no-repeat;
      background-size: 1.2em;
      color: white;
      font-family: var(--regular);
      font-size: .875rem;
      padding-left: 1.5rem;
    }
  }
}