.top-bar {
  background-color: var(--tiber);
  display: flex;
  font-family: var(--regular);
  justify-content: space-between;
  left: 0;
  margin: auto;
  padding-top: .5rem;
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 16;

  h1 {
    margin-bottom: 0;

    a {
      background-image: url("../assets/img/isologo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      font-size: 0;
      height: 3rem;
      width: 8rem;
    }
  }

  .cart-indicator {
    background-image: url("../assets/img/outline-shopping_cart-24px.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: block;
    height: 24px;
    position: relative;
    width: 24px;

    .cart-counter {
      align-items: center;
      background-color: var(--seashell);
      border-radius: 50%;
      color: var(--tiber);
      display: none;
      font-size: .7rem;
      height: 1rem;
      justify-content: center;
      position: absolute;
      right: -.5rem;
      top: -.5rem;
      width: 1rem;

      &.has-items {
        display: flex;
      }
    }

    .subtotal {
      bottom: 0;
      color: var(--seashell);
      display: block;
      font-size: .7rem;
      height: 1rem;
      margin: auto;
      padding: 0;
      position: absolute;
      right: -1rem;
      top: 0;
      width: 8rem;
    }
  }

  .filter-bar {
    font-size: .8rem;
  }
}