#miwallet {
  margin-top: 3rem;

  > div {
    > div {
      background: white;
      border-radius: 8px;
      box-shadow: 0 1px 1px .5px lightgray;
      padding-bottom: 1rem;
      padding-top: 1rem;

      h2 {
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        margin: auto;
        padding-left: 2rem;
        text-align: center;
      }

      &:first-of-type {
        padding: 1rem;
        margin-bottom: 1rem;

        h2 {
          background-image: url("../assets/img/icons/baseline-person-24px.svg");
          width: 11rem;
        }

        .avatar {
          margin: 2rem auto 1rem auto;

          img {
            border-radius: 50%;
            margin: auto;
            width: 60%;
          }
        }

        ul {
          li {
            &:first-of-type {
              font-family: var(--bold);
              margin-bottom: 1.5rem;
              text-align: center;
            }
          }
        }
      }
  
      &:nth-of-type(2) {
        h2 {
          background-image: url("../assets/img/icons/baseline-account_balance_wallet-24px.svg");
          width: 11rem;
        }
  
        > div {
          .bitcoin-logo {
            background-image: url("../assets/img/bitcoin.svg");
            background-repeat: no-repeat;
            background-size: contain;
            height: 6rem;
            margin: 1.5rem auto 1rem auto;
            width: 6rem;
          }
          
          #saldo {
            font-size: 1.5rem;
            margin: auto;
            text-align: center;
          }
        }
      }
  
      &:nth-of-type(3) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        #modalCobrar {
          .modal-header {
            .modal-title {
              font-family: var(--bold);
            }
          }
          .modal-body {
            p {
              font-family: var(--regular);
              font-size: .875rem;
            }

            img {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}